<div class="container">
  <div class="mb-3 mt-4">
    <h2 class="text-center"><%= @list.name %></h2>
  </div>

  <div class="cards">
  <% @list.movies.each do |movie| %>
    <div class="card-movie">
      <img src="https://media.senscritique.com/media/000020028869/300/wonder_woman_1984.jpg" />
      <div class="card-movie-infos">
        <h2> <%= movie.title %> </h2>
        <p><%=  movie.overview %></p>
        <strong><%=  movie.rating %></strong>
      </div>
    </div>
  <% end %>
  </div>
  <%# <li><%=  movie.poster_url %>

  <ul>
    <li><%= link_to "Back to list", lists_path %></li>
    <li><%= "Add a movie to this list" %></li>
  </ul>
</div>
